@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Sora:wght@600;700;800&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Sora', sans-serif;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

.active {
    color: #ff2a39;
}

.btn {
    --btn-txt-color: #191624;
    position: relative;
    border: none;
    outline: none;
    display: block;
    overflow: hidden;
}

.btn-animation {
    border-radius: 5px;
}

.btn-animation:hover {
    cursor: pointer;
}

.btn-animation span {
    display: block;
}

.btn-animation span:nth-child(1) {
    padding: 2.4rem 6.6rem;
    border-radius: 5px;
}

.btn-animation span:nth-child(2),
.btn-animation span:nth-child(3),
.btn-animation span:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-animation span:nth-child(4) {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-txt-color);
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 1px;
}

.btn-animation:hover span:nth-child(4) {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.btn-animation span:nth-child(3) {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 4px;
}

.btn-animation span:nth-child(2) {
    height: 60%;
    width: 100%;
    animation: rotate 2s linear infinite;
}

.hero__banner-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.2),
            rgba(0, 0, 0, 0.55)
        ),
        url('./assets/images/me.jpg') center / cover no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero__banner-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url('./assets/images/herobanner.png') no-repeat scroll center 0 /
        cover;
    height: 246px;
    top: auto;
    bottom: -1px;
    z-index: 0;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@media (hover: none) {
    .btn-animation:hover span:nth-child(4) {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
    }
}
